.event {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.event-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event-content-text {
    width: 50%;
}

.event-content-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: normal;
}

.event-content-text p {
    font-size: 20px;
    margin-bottom: 20px;
}

.event-content-image img {
    width: 500px;
}

.digits {
    height: 40vh;
    text-align: center;
}

.digits h2 {
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: 500;
    color: gray;
}

.digit h4 {
    font-size: 16px;
    margin-top: 5px;
    color: gray;
    font-weight: normal;
}

.digit{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.digit h1 {
    margin: 0;
}

@media (max-width: 768px) {
    .event {
        height: auto;
    }

    .event-content {
        flex-direction: column;
        text-align: center;
    }

    .event-content-text {
        width: 100%;
        margin-bottom: 20px;
    }

    .event-content-image img {
        width: 100%;
    }

    .digits {
        height: 100vh;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 70px 0;
    }

    .digit {
        flex-direction: column;
        gap: 20px;
    }

    .digit-content h1 {
        font-size: 48px;
        font-weight: 500;
    }
}