.actions {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.actions-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions-content-text {
    width: 50%;
}

.actions-content-text h1 {
    font-size: 60px;
    line-height: 54px;
    margin-bottom: 20px;
}

.actions-content-text span {
    color: #FF5733;
}

.actions-content-text p {
    font-size: 20px;
    margin-bottom: 20px;
}

.actions-content-image img {
    width: 500px;
    margin-left: 100px;
}

.digits {
    height: 40vh;
    text-align: center;
}

.digits h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.digit{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.digit h1 {
    margin: 0;
}

.speak {
    line-height: 20px;
    margin-top: 100px;
    width: 70%;
}

.speak h3{
    font-size: 24px;
    line-height: normal;
    margin: 10px 0;
}

.speak h2{
    font-size: 20px;
    margin: 5px 0;
    font-weight: bold;
    margin-top: 30px;
}

.speak p {
    font-size: 18px;
    color: gray;
}

@media (max-width: 768px) {
    .actions {
        height: auto;
    }

    .actions-content {
        flex-direction: column;
        text-align: center;
    }

    .actions-content-text {
        width: 100%;
        margin: 40px 0;
    }

    .actions-content-image img {
        width: 100%;
        margin-left: 0;
    }

    .digits {
        height: auto;
        padding: 70px 0;
    }

    .digit {
        flex-direction: column;
        gap: 20px;
    }

    .speak {
        width: 100%;
        margin-top: 50px;
    }
}