section {
    height: 100vh;
    padding: 40px;
}

.services {
    height: auto;
}

section h4 {
    color: #0131C3;
    margin-bottom: 20px;
    font-size: 20px;
}

.about span {
    color: rgb(0, 0, 0);
}

.about {
    width: 100%;
    height: auto;
}

.about p {
    font-size: 16px;
    text-align: justify;
}

.about-img {
    background: url("../assets/yt.jpg");
    background-position: center -100px;
    background-size: cover;
    width: 100%;
    height: 50vh;
    margin-top: 60px;
}

section h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: bold;
}

section p {
    font-size: 24px;
    width: 80%;
}

.activities {
    color: rgb(0, 0, 0);
}

.activity-text h1{
    font-size: 36px;
    font-weight: 500;
}

.activity-text p {
    width: 100%;
    margin-bottom: 20px;
}

.activity-items {
    width: 100%;
    /* margin-top: 20px; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    text-align: left;
}

.activity-card {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.business {
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url('../assets/wom.jpg');
    background-size: cover;
    background-position: center;
}

.business-content {
    width: 60%;
    color: white;
    text-align: justify;
}

.cards {
    color: rgb(0, 0, 0);
    height: auto;
    background-color: rgb(255, 255, 255);
}

.card-text h1{
    font-size: 48px;
    margin: 40px 0 40px 0; 
    text-align: left;
    font-weight: bold;
}

.card-items {
    width: 100%;
    /* margin-top: 20px; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    text-align: left;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.card-card {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.manage {
    height: 80vh;
}

.manage-text {
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
}

.manage-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.slogan {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slogan span {
    color: #0131C3;
}

.business-content {
    background-color: white;
    width: 40%;
    color: black;
    padding: 40px;
}

.business-content p {
    font-size: 18px;
}

.business-content button {
    border: 3px solid black;
    background-color: white;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.business-content button:hover {
    background-color: #000000;
    color: white;
    transition: .3s;
}

.case {
    width: 100%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets//trust.jpg);
    background-size: cover;
    background-position: center;
}

.case-content {
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.case-content-text {
    width: 50%;
}

.case-content button {
    background-color: #0039e3;
    font-weight: bold;
    color: white;
}

.case-content-image img {
    width: 400px;
    margin-right: 80px;
}

.portfolio {
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(0, 0, 0);
    color: white;
    background-size: cover;
    background-position: center;
}

.portfolio-content {
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio-content-text {
    width: 50%;
}

.portfolio-content button {
    background-color: #ffffff;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.portfolio-content-image img {
    width: 400px;
    margin-right: 80px;
}

@media (max-width: 767px) {
    section {
        height: auto;
    }
    section h1 {
        font-size: 36px;
    }

    section p {
        width: 100%;
        font-size: 18px;
    }

    .about p {
        font-size: 16px;
        text-align: justify;
    }

    .about-img {
        background-position: center;
    }

    .activities {
        height: auto;
        flex-direction: column;
    }

    .activity-items {
        justify-content: center;
    }

    .activity-card {
        flex-direction: column;
    }

    .business-content {
        width: 100%;
    }

    .cards {
        height: auto;
    }

    .card-items {
        justify-content: center;
    }

    .card-card {
        flex-direction: column;
    }

    .manage {
        height: auto;
    }

    .manage-text h1{
        margin-bottom: 25px;
        text-align: left;
        font-size: 48px;
    }

    .manage-items {
        flex-direction: column;
    }

    .join-content {
        width: 100%;
    }

    .case {
        height: 100vh;
    }

    .case-content {
        flex-direction: column;
    }

    .case-content-text {
        width: 100%;
        margin-bottom: 20px;
    }

    .case-content-text h1 {
        font-size: 48px;
    }

    .portfolio-content {
        flex-direction: column;
        text-align: left;
        height: 100vh;
        justify-content: center;
    }

    .portfolio-content-text {
        width: 100%;
        margin-bottom: 20px;
    }
}