.course-card {
    width: 320px;
    height: 450px;
    border: 1px solid #cecece;
    padding: 20px;
    margin-top: 30px;
}

.course-card h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.course-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    background-color: black;
    object-fit: cover;
}

.course-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course-infos {
    margin-top: 30px;
    width: 100%;
}

.course-infos h5 {
    font-size: 12px;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    background-color: rgb(251, 255, 0);
    width: fit-content;
    font-weight: normal;
    padding: 5px 8px;
    margin-bottom: 10px;
}

.course-infos p {
    width: 100%;
    font-size: 16px;
    color: #2e2e2e;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .course-card {
        width: 100%;
        height: auto;
    }
}