.course-card {
    width: 320px;
    height: 550px;
    border: 1px solid #cecece;
    padding: 20px;
}

.course-card h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.course-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    background-color: black;
    object-fit: cover;
}

.course-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course-infos {
    margin-top: 30px;
    width: 100%;
}

.course-infos h5 {
    font-size: 12px;
    color: rgb(0, 103, 188);
    margin-bottom: 5px;
    background-color: rgb(209, 240, 255);
    width: fit-content;
    font-weight: normal;
    padding: 5px 8px;
    margin-bottom: 10px;
}

.course-infos p {
    width: 100%;
    font-size: 16px;
    color: #a2a2a2;
    margin-top: 10px;
}

.course-infos button {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .course-card {
        width: 100%;
        height: auto;
    }
}