.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6vh;
    padding: 0 30px;
    border-bottom: 1px solid #ccc;
    color: rgb(22, 6, 100);
}

.top-left, .top-right {
    font-weight: bold;
}

@media (max-width: 768px) {
    .topbar {
        display: none;
    }
}